.weather-container{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: aqua;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}